* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f5f5f5;
    line-height: 1.5;
}

header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: relative;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    z-index: 1;
    transition: background-color 0.3s ease-in-out;
}

nav.scroll {
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 1rem;
}

nav a {
    color: #333;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

nav a:hover {
    background-color: #c0c0c0;
    color: #fff;
}

section.fade-in {
    opacity: 1;
}

section h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 1rem;
}

main {
    padding: 2rem;
}

section {
    width: 95%;
    margin: auto;
    margin-bottom: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-inner {
    height: 450px;
    border-radius: 8px;
}

.meyo {
    align-items: center;
}

.carousel-item img {
    object-fit: cover;
}

.container p {
    font-size: 17px;
}


/* Estilos para la sección Mi Valor */

.fade-in {
    animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#hobbies {
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
}

#hobbies h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

#hobbies ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#hobbies li {
    font-size: 24px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 10px;
    transition: all 0.3s ease;
    background-color: #fff;
    color: #333;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

#hobbies li:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 768px) {
    #hobbies {
        padding: 30px;
    }
    #hobbies h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }
    #hobbies li {
        font-size: 18px;
        margin: 5px;
        padding: 8px;
    }
}


/* Estilos para la sección #mi-valor */

#mi-valor {
    padding: 50px 0;
    background-color: #ffffff;
}

#mi-valor h2 {
    margin-bottom: 30px;
    text-align: center;
}

#mi-valor img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
    width: 150px;
    object-fit: cover;
    height: 150px;
    max-width: 100%;
}

#mi-valor p {
    font-size: 1.1rem;
    padding: 3px 50px;
    margin-bottom: 20px;
}

#mi-valor p:last-child {
    margin-bottom: 0;
}

#mi-valor a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 30px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1rem;
}

#mi-valor a:hover {
    background-color: #0056b3;
}


/* Agregar un fondo degradado al formulario */

form {
    background: linear-gradient(to bottom right, #ffdada, #d5e1f2);
    padding: 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input,
textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: none;
    width: 100%;
}


/* Agregar estilos a los iconos */

label i {
    margin-right: 0.5rem;
}

input[type="submit"] {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

input[type="submit"]:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
    transition: all 0.2s ease-in-out;
}

form input:focus,
form textarea:focus {
    outline: none;
    border: 2px solid #333;
}

form input,
form textarea {
    transition: all 0.2s ease-in-out;
}

form input:focus,
form textarea:focus {
    transform: scale(1.02);
}

input[type="submit"] {
    transition: all 0.2s ease-in-out;
}

input[type="submit"]:hover {
    transform: scale(1.02);
}

.nav-link {
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-link:hover {
    transform: translateY(-3px);
    transition: all 0.3s ease;
}

.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
}

.js-scroll.scrolled {
    opacity: 1;
}

.scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.contIni {
    text-align: center;
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Estilos para la sección de inicio */

.contIni h1 {
    font-size: 48px;
    margin: 20px 0;
}

.contIni p {
    font-size: 24px;
    color: #555;
    margin-bottom: 40px;
}

.contIni a {
    background-color: #ca1484;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease;
}

.contIni a:hover {
    background-color: #af4c99;
    color: #fff;
}

.contIni img {
    border-radius: 10%;
    width: 200px;
    height: 200px;
    border: 5px solid rgba(0 0 0 /12%);
    object-fit: cover;
    object-position: center;
    max-width: 100%;
}

.contArt p {
    font-size: 17px;
    color: #797979;
    width: 100%;
    overflow: hidden;
}

.art img {
    border-radius: 50%;
    width: 150px;
    object-fit: cover;
    height: 150px;
    max-width: 100%;
}

.art h3 {
    color: black;
    font-size: 20px;
    margin-top: 10px 0px 20px 0px;
    font-weight: 400;
}

#values {
    text-align: center;
}

@media(min-width: 1024px) {
    #values .articulos {
        display: flex;
        flex-wrap: wrap;
        max-width: 800px;
        margin: auto;
    }
    .articulos article {
        flex: 1 0 30%;
        margin: 20px;
    }
    #values .contArt {
        flex: 1 0 250px;
    }
}

@media(min-width: 533px) {
    #values article {
        display: flex;
        text-align: left;
        align-items: center;
        margin: 20px;
    }
    #values article:nth-of-type(odd) {
        flex-direction: row-reverse;
        text-align: right;
    }
    #values img {
        margin: 20px;
    }
}


/* Estilos para el div de cursos y certificaciones */

.formacion {
    margin-top: 50px;
    text-align: center;
}

.formacion p {
    font-size: 18px;
    margin: 10px 0;
    color: #555;
}

.formacion i {
    font-size: 24px;
    margin-right: 10px;
    color: #af4c99;
}

footer {
    background-color: #f2f2f2;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.redes-sociales a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border-radius: 50%;
    color: #fff;
    background-color: #af4c99;
    text-align: center;
    line-height: 40px;
    transition: all 0.3s ease;
}

.redes-sociales a:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 123, 255, 0.3);
}

.fa-facebook-f {
    font-size: 20px;
}

.fa-twitter,
.fa-linkedin-in,
.fa-instagram {
    font-size: 18px;
}

.contact-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    vertical-align: middle;
    justify-content: center;
}

.contact-links li {
    margin-right: 20px;
}

.contact-links li:last-child {
    margin-right: 0;
}

.contact-links a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.contact-links a:hover {
    color: #000;
}

.contact-links i {
    margin-right: 5px;
    vertical-align: middle;
    font-size: 24px;
}

.contact-info {
    font-size: 20px;
    margin-bottom: 20px;
}

.inicio {
    height: 40%;
    border-radius: 0px 0px 50% 50%;
    background: linear-gradient(100deg, rgba(131, 58, 180, 1) 10%, rgba(202, 20, 132, 1) 50%);
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.blobs,
.blobs2 {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: url(#goo);
    margin: 0px 90px;
}

.circle-styles {
    position: absolute;
    width: 90px;
    height: 90px;
    transform: translate(0, -48px);
    background: #af4c99;
    clip-path: circle(42px at center);
}

.first,
.first2 {
    transition: transform 0.5s 100ms ease-out;
    background: hsl(307, 70%, 58%);
}

.second,
.second2 {
    transition: transform 0.5s 300ms ease-out;
    background: hsl(277, 70%, 58%);
}

.last,
.last2 {
    transition: transform 0.5s 500ms ease-out;
    background: hsl(247, 70%, 58%);
}

.first.show,
.first2.show2 {
    transform: translate(-100px, -120px);
}

.second.show,
.second2.show2 {
    transform: translate(0px, -150px);
}

.last.show,
.last2.show2 {
    transform: translate(100px, -120px);
}

.bg.show {
    transform: scale(0.7);
    opacity: 0;
}

.cross,
.cross2 {
    transform-origin: center center;
    transition: all 0.5s ease-in-out;
}

.cross.show,
.cross2.show2 {
    transform: rotate(45deg);
}

.main-circle,
.main-circle2 {
    z-index: 2;
}

.main-icons {
    fill: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-styles:nth-child(1) span {
    width: 35px;
    height: 5px;
    background: rgb(255, 255, 255);
    position: absolute;
    border-radius: 15px;
}

.circle-styles:nth-child(1) span:nth-child(2) {
    transform: rotate(90deg);
}

.circle-styles:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    height: 0;
    width: 0;
}

#habilidades {
    position: relative;
    height: 400px;
}
  
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .project {
    width: 30%;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .project img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .project h3 {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .project p {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .details-btn {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #555;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .close-btn:hover {
    color: #333;
  }
  